
<div class="posts-nav">
  <%= form_with class: "post-filter", url: filter_posts_path, method: :get do |form| %>
    <div style="width: 200px;">
      <%= form.select(:filter_by, options_for_select(Constants::POST_FILTER, @last_filter_by ? @last_filter_by : ''), {}, {:class => "form-control", onchange: 'this.form.submit()'})%>
    </div>
  <% end %>
  <a class="btn dropdown-toggle edit-btn" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= "New Post" %>
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="left:-54px;">
    <%= link_to "Single Post", new_post_posts_path, class: "dropdown-item" %>
    <%= link_to "Upload Posts <i class=\"icon-upload-alt\"></i>".html_safe, upload_csv_posts_path, class: "dropdown-item" %>
  </div>
  <%= link_to "Download Post CSV <i class=\"icon-download-alt\"></i>".html_safe, download_csv_posts_path(format: :csv), class: "btn edit-btn" %>
</div>

<% if @posts %>
  <% @posts.each do |post| %>
    <div class="post-list-wrapper">
      <div class="card-header">
        <h5><%= post.title %><% if post.public_flag == true %> &nbsp;<i class="icon-flag"></i> <% end %></h5>
        <div class="last-modified-date">Last updated on : <%= post.created_at.strftime("%Y/%m/%d %I:%M:%S %p " )%> </div>
      </div>
      <div class="card-body">
        <p><%= truncate(post.description.html_safe, length:200) %></p>
        <div class="right-btn-group">
          <%= link_to "Show More", post_path(post), class: "btn edit-btn" %>
          <% if current_user.super_user_flag || current_user.id == post.created_by %>
            <%= link_to "Delete", post_path(post),
                method: :delete,
                data: { confirm: "Are you sure?" }, class: "btn delete-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p> No Post is created.</p>
<% end %>
